// @import "compass/css3";
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Mate+SC&display=swap');

// h1 .pFonts{
//   font-family: 'Julius Sans One', sans-serif;
//   letter-spacing: 8px;

// }

#hero1{
//  background:url(https://4.bp.blogspot.com/_AQ0vcRxFu0A/S9shDGGyMTI/AAAAAAAAAYk/kn3WTkY2LoQ/s1600/IMG_0714.JPG);
  background-size:cover;
  background-position:center center;
  background-attachment:fixed;
  margin-bottom: 5%;
}

.hero, .content{
  text-align:center; 
  position:relative;
  width: 100%;
}

.inner{
  min-height:400px;
  position: relative;
}

.hero .inner{
  background: rgba(0,0,0,0.7) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;}


.copy{
  position:absolute; 
  top:50%; 
  height:10em; 
  margin-top:-5em; 
  width:100%;
  display: flex;
  justify-content: center;
}

.hero .headerh1, .hero p{ 
  color:#fff;
}

.content h1, .content p{
  color:#333;
}

.headerh1{
  margin:0px;
  font-weight:400;
  font-size:32px;
  padding:0px 20px;
  font-family: 'Julius Sans One', sans-serif;
  letter-spacing: 8px;
  text-transform: uppercase;
}

p{
  font-family: 'Noto Sans', sans-serif; 
  font-size:14px;
  padding:0px 20px;
}

