@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Cousine:ital,wght@1,700&family=Kaushan+Script&family=M+PLUS+1p:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Adamina&family=Cormorant:ital,wght@1,500&family=Cousine:ital,wght@1,700&family=Kaushan+Script&family=M+PLUS+1p:wght@700&display=swap');
.sliderProduct {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 90%;
  margin: auto;
  margin-bottom: 3%;
}
.details {
  margin: 4%;
    font-family: 'Cormorant', serif;
    font-size: 25px;
}
.details h2{
    // text-transform: uppercase;
    font-family: 'Adamina', serif;
font-weight: 400;
}

.dolar{
    display: flex;
    justify-content: flex-end;
    font-family: 'Adamina', serif;
}
.user-cat{
    margin: 4% 0 4% 3%;
    display: grid;
}
.heart{
    display: flex;
    justify-content: space-between;
}
.heart i.fa.fa-heart.fa-3x.cyan-text {
    margin-top: 2%;
}

/**
 * Created by Dan Spratling (@dan_spratling)
 * All :focus have been omitted for brevity. Please use focus states in real scenarios
 */

 .fancy-button {
    position: relative;
    // padding-left: 3rem;
    // padding-right: 3rem;
    background: #4a5568;
    overflow: hidden;
    transition: all 200ms ease;
  }
  
  .fancy-button:hover {
    background: #f7fafc;
    padding-left: 1rem;
    padding-right: 5rem;
  }
  
  .fancy-button-text {
    display: inline-block;
    width: auto;
    height: auto;
    // padding: 0 1.5rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #fff;
    transition: 200ms ease;
  }
  .fancy-button-text a{
    text-decoration: none;
    color: #0c0b0b;
  }
  .fancy-button-text:hover{
color: #fff;
  }
  .fancy-button:hover .fancy-button-text {
    color: #4a5568;
  }
  
  .fancy-button-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 3rem;
    background: #48bb78;
    opacity: 0;
    transition: all 300ms ease;
    transform-origin: right;
    height: 200%;
    transform: rotate(20deg);
  }
  
  .fancy-button:hover .fancy-button-background {
    width: 5rem;
    opacity: 1;
  }
  
  .fancy-button .fa-paper-plane {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 1.25rem;
    color: #fff;
    opacity: 0;
    z-index: 10;
    margin-right: 2.5rem;
    transition: 300ms ease;
    transform: translate(50%, -50%);
  }
  
  .fancy-button:hover .fa-paper-plane {
    opacity: 1;
  }
  
  /* setup stuff */

  button {
    appearance: none;
    border: 0;
    cursor: pointer;
  }
  .btn-default .btn .Ripple-parent .fancy-button{
    background-color: #080808cf
  }
.user-cat span{
    display: flex;
    justify-content: space-between;
}
// .box {
//   width: 30%;
//   margin: 0 auto;
//   background: rgba(255,255,255,0.2);
//   padding: 35px;
//   border: 2px solid #fff;
//   border-radius: 20px/50px;
//   background-clip: padding-box;
//   text-align: center;
// }
.box{
  box-shadow: none;
  margin: 4% 0 4% 3%;
}
// .buttonn {
//   font-size: 1em;
//   padding: 10px;
//   color: #fff;
//   border: 2px solid #06D85F;
//   border-radius: 20px/50px;
//   text-decoration: none;
//   cursor: pointer;
//   transition: all 0.3s ease-out;
// }
// .buttonn:hover {
//   background: #06D85F;
// }
.box .btn{
  color: black;
  
}
.box button a.hoverBtn {
  color: #808080cf;
}
.box button{

  background-color: #d2ccc3;
  border-radius: 1rem;
}
.box button:hover{
  background-color: #48bb78;
}
.box button a.hoverBtn:hover{
  color: #fff;
  text-decoration: none;
}
.oneProductPara{
  overflow: scroll;
    height: 27vh;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  z-index: 99;
  // height: 100%;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
  height: 70%;
  z-index: 9999;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotate(180deg);
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.ppp{
  // overflow: auto;
}