.containerDiv{
  margin: 3% auto;
  width: 85%;
  grid-template-columns: 33.3% 33.3% 33.3% ;
  display: grid;
}

.col-md-4 {
  max-width: 100%;
  margin: 8% auto;
  border: 0px solid transparent;
}

.card{
  border-radius: 1.25rem;
}
.img-fluid {
  border-radius: 1.25rem;
}
a.btn-default.btn.Ripple-parent.btn-action.ml-auto.mr-4.lighten-3.mdb-coalor{
  border-radius: 1.25rem 1.4rem;
  background-color: #4889ff59;

}

.mdb-color {
  background-color: #4889ff59;
}

.shadow-box-example {
  border-radius: 1.25rem;
}

.shadow-box-example:hover{
   background-color: none ;
}
.card:hover{
    box-shadow: none;
}