section{
  display: flex;
  flex-wrap: wrap;
  margin: 3% 1%;
  transition: all 0.2s ease-in-out;
  
  // justify-content: space-evenly;
}

.hover{
  height:300px;
  display: flex;
  width: 300px;
}
// // .cards{
// // // margin-top: 5%;
// // border: none;
// // }

.firstPic{
  position: absolute;
}
.secPic{
  position: absolute;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.secPic:hover{
  opacity: 1;
}


.indigo-text{
  z-index: 99;
  // overflow: hidden;
}


.indigo-text {
  margin: 5%;
    font-size: 29px;
    color: white;
}

.redHeart{
  color: red($color: #000000);
}

.containerDiv{
  margin: auto;
  width: 85%;
}
