.formStyle {
  margin-top: 5vw;
  margin-bottom: 5vw;
  margin-right: 5vw;
}

.gridClass {
  position: absolute;
  left: 20%;
  top: 18%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 120px);
  grid-row-gap: 0.5em;
  grid-column-gap: 1em;
}
.gridImages {
  padding: 20px;
}
.borderBu {
  background-color: #00000030;
}
input[type="text"]::placeholder {
  color: #d9d9c4 !important;
}
textarea::placeholder {
  color: #d9d9c4 !important;
}

textarea.form-control {
  /* height: auto; */
  height: 6vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}
.custom-select {
  width: 40%;
}
.fileUpload {
  background: transparent;
  top: -4.6vw;
  left: 6vw;
  border: 1px solid;
}
.fileUpload:hover {
  background: transparent;
}
button#signInBt2 {
  margin-left: 7.1em;
  margin-top: -3em;
  width: 7em;
  height: 2.5em;
  background-color: #00000087;
  color: #d9d9d9;
  border-radius: 10px;
}
select#inputGroupSelect01 {
  background-color: transparent;
  border-radius: 14px;
}
.custom-select {
  width: 40%;
  color: #d9d9d9;
}
.catOptions {
  background-color: #747474;
}
#uploadSpan {
  cursor: pointer;
}
#uploadSpan :hover {
  cursor: pointer;
}
::placeholder {
  color: black;
}
#contanire {
  background: url(../login/signin.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 11%;
}
.back2 {
  background-image: url(../login/signin.jpg);
  /* background-attachment: fixed; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1em;
  padding-top: 1em;
}
